div
{
	height: 50px;
	width: 50px;
	float: left;
	font-family: sans-serif;
	font-size: 2em;
	text-align: center;
	padding-top: 10px;
}

p
{
	padding-top: 1em;
	font-family: sans-serif;
	clear: left;
}

#cell00, #cell10, #cell20
{
	clear: left;
}

#cell00, #cell10, #cell20, #cell01, #cell11, #cell21
{
	border-right: solid black 1px;
}

#cell02, #cell12, #cell22, #cell01, #cell11, #cell21
{
	border-left: solid black 1px;
}

#cell00, #cell10, #cell01, #cell11, #cell02, #cell12
{
	border-bottom: solid black 1px;
}

#cell20, #cell10, #cell21, #cell11, #cell22, #cell12
{
	border-top: solid black 1px;
}